<!DOCTYPE html>
<html>
    <head>
        <title>Rasp TV</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/styles/libs/bootstrap.min.css" rel="stylesheet">
        <link href="/styles/libs/loading-bar.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                    padding-top: 2%;
                    padding-bottom: 2%;
            }

            .error-message {
                    margin-top: 2%;
            }

            .main-view {
                    margin-top: 3%;
            }
            .clickable {
                cursor: pointer;
            }
            .no-underline:hover {
                text-decoration: none
            }
        </style>
    </head>
    <body>
        <div ng-app="raspTv" class="container">
            <div ng-controller="navCtrl" class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-justified">
                        <li ng-class="{active : isActive('movies')}">
                            <a href="#/">Movies</a>
                        </li>
                        <li ng-class="{active : isActive('shows')}">
                            <a href="#/shows">TV Shows</a>
                        </li>
                        <li ng-class="{active : isActive('edit')}">
                            <a href="#/edit">Edit</a>
                        </li>
                        <li ng-class="{active : isActive('play')}" ng-show="session.IsPlaying">
                            <a ng-href="{{nowPlayingLink}}">Now Playing</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-controller="alertCtrl" ng-show="alert" class="row error-message">
                <div class="col-xs-12">
                    <div class="alert alert-dismissable" ng-class="{'alert-danger' : alert.type === 'error', 'alert-success': alert.type === 'success'}">
                        <button type="button" ng-click="close()" class="close">&times;</button>
                        <strong>{{alert.title}}</strong>
                        <br> {{alert.msg}}
                    </div>
                </div>
            </div>
            <div ng-view class="main-view"></div>
            [[ if .IsProduction ]]
            <script type="text/javascript" src="/js/rasptv.min.js"></script>
            [[ else ]]
            <script type="text/javascript" src="/js/libs/angular.js"></script>
            <script type="text/javascript" src="/js/libs/angular-animate.js"></script>
            <script type="text/javascript" src="/js/libs/angular-route.js"></script>
            <script type="text/javascript" src="/js/libs/angular-resource.js"></script>
            <script type="text/javascript" src="/js/libs/angular-strap.js"></script>
            <script type="text/javascript" src="/js/libs/angular-strap.tpl.js"></script>
            <script type="text/javascript" src="/js/libs/loading-bar.js"></script>
            <script type="text/javascript" src="/js/libs/filter-regex.js"></script>
            <script type="text/javascript" src="/js/services.js"></script>
            <script type="text/javascript" src="/js/app.js"></script>
            [[ end ]]
        </div>
    </body>
</html>