!!! 5
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
        //- link(href="/styles/styles.css", rel="stylesheet")
    body
        .container
            .row
                .col-xs-12
                    h1= title