<div class="row">
    <div class="col-xs-12">
        <input type="text" ng-model="search" placeholder="Search" class="form-control"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Movies</h2>
        <p ng-if="movies.length === 0">No movies to be indexed</p>
        <ul ng-if="movies" class="list-group">
            <a ng-href="#/edit/movie/{{movie.id}}" ng-repeat="movie in movies | filterRegex:search track by movie.id" class="list-group-item">
                {{movie.filepath}}
            </a>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Episodes</h2>
        <p ng-if="episodes.length === 0">No episodes to be indexed</p>
        <ul ng-if="episodes" class="list-group">
            <a ng-href="#/edit/episode/{{episode.id}}" ng-repeat="episode in episodes | filterRegex:search track by episode.id" class="list-group-item">
                {{episode.filepath}}
            </a>
        </ul>
    </div>
</div>
