<div class="row">
    <div class="col-xs-12">
        <form name="editMovieForm" ng-submit="save()">
            <fieldset>
                <legend>Edit Movie</legend>
                <p>
                    Path: {{movie.filepath}}
                </p>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" ng-model="movie.title" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" ng-disabled="editMovieForm.$invalid" value="Update">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-warning btn-block" ng-click="deleteMovie(false)" type="button">Delete Entry</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger btn-block" ng-click="deleteMovie(true)">Delete Both</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
