<div class="row">
    <div class="col-xs-12">
        <form name="addShowForm" ng-submit="saveShow()">
            <fieldset>
                <legend>Add Show</legend>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="showTitle" ng-model="show.Title" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" ng-disabled="addShowForm.$invalid" value="Add">
                </div>
            </fieldset>
        </form>
        <form name="editShowForm" ng-submit="saveEpisode()">
            <fieldset>
                <legend>Edit Episode</legend>
                <p>
                    Path: {{episode.Filepath}}
                </p>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" ng-model="episode.Title.String" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Episode Number</label>
                    <input type="number" min="1" class="form-control" name="episodeNumber" ng-model="episode.Number.Int64" required>
                </div>
                <div class="form-group">
                    <label>Season</label>
                    <input type="number" min="1" class="form-control" name="season" ng-model="episode.Season.Int64" required>
                </div>
                <div class="form-group">
                    <label>Show</label>
                    <select name="showId" class="form-control" ng-model="episode.ShowId.Int64" ng-options="show.Id as show.Title for show in shows" required>
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" ng-disabled="editShowForm.$invalid" value="Update">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-warning btn-block" ng-click="deleteEpisode(false)" type="button">Delete Entry</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger btn-block" ng-click="deleteEpisode(true)">Delete Both</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
