.row
    .col-xs-12
        h2 {{show}} - Season {{season}}
        button.btn.btn-default.btn-block(type="button", ng-click="random()")
            span.glyphicon.glyphicon-random
br
.row
    .col-xs-12
        p(ng-hide="episodes") Loading...
        ul.list-group(ng-show="episodes")
            a.list-group-item(ng-click="play(episode)", ng-repeat="episode in episodes", href="")
                | {{episode.num}} - {{episode.name}}