<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-default btn-block" ng-click="scan()" title="Scan">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <input type="text" ng-model="title" placeholder="Search" class="form-control"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        <p ng-if="movies.length === 0">No indexed movies</p>
        <div ng-if="movies" class="panel-group" ng-model="activePanel" bs-collapse>
            <div class="panel panel-default" ng-repeat="movie in movies | filterRegex:title track by movie.Id">
                <div class="panel-heading">
                    <h4 class="panel-title clickable" bs-collapse-toggle>{{movie.Title.String}}</h4>
                </div>
                <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">
                        <a class="btn btn-lg btn-success btn-block" ng-href="#/movies/{{movie.Id}}/mode">Play</a>
                        <a class="btn btn-lg btn-primary btn-block" ng-href="#/edit/movie/{{movie.Id}}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>