.row
    .col-xs-12
        input.form-control(type="text", ng-model="title", placeholder="Search")
br
.row
    .col-xs-12
        ul.list-group
            a.list-group-item(href="", ng-click="play(index)", ng-repeat="(index, movie) in movies | filter:title")
                | {{movie}}