.row
    .col-xs-12
        h2(ng-hide="isShow") Now Playing: {{playing}}
        h2(ng-show="isShow") {{playing.show}} - Season {{playing.season}} - {{playing.episode}}
.row
    .col-xs-12
        .play-controls.btn-group.btn-group-lg
            button.btn.btn-default(type="button", ng-click="fastBackward()")
                span.glyphicon.glyphicon-fast-backward
            button.btn.btn-default(type="button", ng-click="backward()")
                span.glyphicon.glyphicon-backward
            button.btn.btn-default(type="button", ng-click="stop()")
                span.glyphicon.glyphicon-stop
            button.btn.btn-default(type="button", ng-click="toggle()")
                span.glyphicon(ng-class="{'glyphicon-pause' : !isPaused, 'glyphicon-play' : isPaused}")
            button.btn.btn-default(type="button", ng-click="forward()")
                span.glyphicon.glyphicon-forward
            button.btn.btn-default(type="button", ng-click="fastForward()")
                span.glyphicon.glyphicon-fast-forward

