<div class="row">
    <div class="col-xs-12">
        <h2 ng-if="!isShow">Now Playing: {{playing.title}}</h2>
        <h2 ng-if="isShow">{{playing.title}} - Season {{playing.episode.season}} - {{playing.episode.title}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="play-controls btn-group btn-group-lg">
            <button type="button" ng-click="fastBackward()" class="btn btn-default">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
            <button type="button" ng-click="backward()" class="btn btn-default">
                <span class="glyphicon glyphicon-backward"></span>
            </button>
            <button type="button" ng-click="stop()" class="btn btn-default">
                <span class="glyphicon glyphicon-stop"></span>
            </button>
            <button type="button" ng-click="toggle()" class="btn btn-default">
                <span ng-class="{'glyphicon-pause' : !session.isPaused, 'glyphicon-play' : session.isPaused}" class="glyphicon"></span>
            </button>
            <button type="button" ng-click="forward()" class="btn btn-default">
                <span class="glyphicon glyphicon-forward"></span>
            </button>
            <button type="button" ng-click="fastForward()" class="btn btn-default">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div>
    </div>
</div>
