.row
    .col-xs-12
        h2 {{show}}
        button.btn.btn-default.btn-block(type="button", ng-click="random()")
            span.glyphicon.glyphicon-random
br
.row
    .col-xs-12
        ul.list-group
            a.list-group-item(ng-click="showEpisodes(season)", ng-repeat="season in seasons", href="")
                | Season {{season}}