.row
    .col-xs-12
        input.form-control(type="text", ng-model="title", placeholder="Search")
br
.row
    .col-xs-12
        p(ng-hide="shows") Loading...
        ul.list-group(ng-show="shows")
            a.list-group-item(href="", ng-click="showSeasons(show)", ng-repeat="show in shows | filter:title")
                | {{show}}