.row
    .col-xs-6(ng-repeat="(index, show) in shows")
        a.thumbnail.pic-thumb(href="", ng-click="showSeasons(index)")
            img(src="/images/television.jpg", alt="Television")
            .caption
                h3 {{show}}