.row
    .col-xs-12
        input.form-control(type="text", ng-model="url", placeholder="YouTube URL", ng-change="download()", ng-disabled="isDownloading")
        br
.row
    .col-xs-12
        .progress.progress-striped.active(ng-show="isDownloading")
            .progress-bar(ng-style="progress")
.row
    .col-xs-12
        p(ng-hide="videos") Loading...
        ul.list-group(ng-show="videos", ng-hide="isDownloading")
            a.list-group-item(ng-click="play(video)", ng-repeat="video in videos", href="")
                | {{video.title}}
