<div class="row">
    <div class="col-xs-12">
        <h2>{{show.title}} - Season {{season}}</h2>
        <button type="button" ng-click="random()" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-random"></span>
        </button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        <div class="panel-group" ng-model="activePanel" bs-collapse>
            <div class="panel panel-default" ng-repeat="e in episodes">
                <div class="panel-heading">
                    <h4 class="panel-title clickable" bs-collapse-toggle>
                        {{e.number}} - {{e.title}}
                    </h4>
                </div>
                <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">
                        <a class="btn btn-lg btn-success btn-block" ng-href="#/episodes/{{e.id}}/mode">Play</a>
                        <a class="btn btn-lg btn-primary btn-block" ng-href="#/edit/episode/{{e.id}}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
